* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #b3dee5;
    color: #fae6b1;
    opacity: 0.9;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    text-align: center;
}

main {
    position: relative;
    margin-top: 100px;
}

/*Navigation Bar*/ /*Add dark mode button.*/
header {
    background-color: #31525b;
    border-bottom: 1px solid #fae6b1;
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
} /*For screens narrower than 910px, the navbar breaks down, but we don't want it to get thicker. How to make a responsive navbar?*/

.logo {
    height: 100%;
    width: auto;
    margin-left: 0.5rem;
    box-shadow: none;
}

header > a {
    height: 100%;
}

nav > ul {
    margin-right: 0.5rem;
    list-style-type: none;
}

nav > ul > li {
    display: inline;
    margin: 0 0.5rem;
    padding: 0.75rem 1.25rem;
    text-transform: uppercase;
}

a {
    color: #fae6b1;
}

/*Hero Banner*/
.hero {
    height: 30rem;
    padding-top: 1rem;
    margin: 0 auto; /*This centers the banner.*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/marasche-hero.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
} /*The hero doesn't look good on smartphone screens. I'll have to use an optimized image and write a media query that targets larger screens.*/

.hero-text { /*For narrower screens, the text overflows! (fixed)*/
    background-color: hsla(38, 100%, 50%, 0.5);
    width: 100%;
    height: auto; /*Now, the height of the div changes with it's content.*/
    padding: 2%; /*The content needs also some responsive padding now!*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*Photo Gallery*/
#rooms {
    margin-top: 2.5rem;
}

.rooms {
    color: #31525b;
}

.container {
    color: #31525b;
    width: 100%;
    height: auto;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.content {
    width: 300px;
    height: auto;
    margin: 0.5rem;
    display: flex;
}

figure {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
}

img {
    width: 300px;
    height: 190px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}

figcaption {
    margin-top: 0.5rem;
}

/*Flexbox Container 2*/
.services {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/tree.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 95%; /*This keeps a nice margin around the container, but the flex items overflow to the sides (fixed).*/
    margin: 1rem auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.serv-div {
    display: flex;
    flex-wrap: wrap; /*This prevents lateral overflow.*/
    justify-content: center; /*The flex items justify and stay nicely centered when resizing.*/
}

.service {
    background-color: rgb(0, 0, 0, 0.9);
    color:rgba(250, 230, 177, 1);
    height: 300px;
    width: 300px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*Flexbox 3*/
.contacts {
    color: #31525b;
    height: auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contacts > a {
    color: #31525b;
    text-decoration: none;
}

.footer {
    color: #31525b;
    margin: 1rem;
    text-align: left;
}
